<form method="post" action="{{ path('personne_delete', {'idpersonne': personne.idpersonne}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ personne.idpersonne) }}">
    <button class="btn btn-danger float-right mr-1">Effacer</button>
</form>
