{{ form_start(form) }}
    <div class="form-group">
    {{ form_widget(form) }}
    </div>
    <button class="btn btn-primary float-right">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
