{% extends 'base.html.twig' %}

{% block title %}Édition d'un utilisateur{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="text-center">Édition d'un utilisateur</h1>
    {{ include('personne/_form.html.twig', {'button_label': 'Valider'}) }}

    {{ include('personne/_delete_form.html.twig') }}

     <a class="btn btn-primary float-left mb-2" href="{{ path('personne_index') }}">Revenir à la liste</a>
</div>
{% endblock %}
