{% extends 'base.html.twig' %}

{% block title %}New Personne{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Créer un nouvel utilisateur </h1>

    {{ include('personne/_form.html.twig') }}

    <a class="btn btn-primary"href="{{ path('personne_index') }}">Retour à la liste</a>
</div>

{% endblock %}
