{% extends 'base.html.twig' %}

{% block title %}Personne{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5">{{ personne.nom }} {{ personne.prenom }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Age</th>
                <td>{{ personne.age }} ans</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ personne.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ personne.email }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('personne_index') }}">Revenir à la liste</a>

    <a class="btn btn-primary" href="{{ path('personne_edit', {'idpersonne': personne.idpersonne}) }}">Éditer</a>

    {{ include('personne/_delete_form.html.twig') }}
</div>
{% endblock %}
